<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}"/>
    <style>
        body {
            font-family: sans, serif;
            font-size: 1em;
        }
        div.logout {
            float: right;
        }
    </style>
</head>
<body>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    Logged in user: <span sec:authentication="name"></span> |
    Roles: <span sec:authentication="principal.authorities"></span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>
<h1>Home page</h1>
<p>Hello, welcome to user center!</p>
<ul>
    <li><a href="/members/me" th:href="@{/members/me}">to my home page</a></li>
</ul>
</body>
</html>
