<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up with oauth2 provider user</title>
    <meta charset="utf-8"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.12.3.min.js}"></script>
</head>
<body>

<hr>
<div>
    <img th:src="${connection.imageUrl}" src="https://png.icons8.com/office/2x/climbing-helmet.png">
    <p th:text="${connection.displayName}">用户名</p>
</div>
<div>
    <h1>打算常驻火星，注册一下账号如何？</h1>
    <label for="username">使用昵称：</label><input type="text" id="username" name="username" th:value="${connection.displayName}"/>
    <br>
    <input type="button" value="不了，我就是路过" th:onclick="'javascript:abortSigningUp()'"/>
    <input type="button" value="就这么愉快地决定了" th:onclick="'javascript:confirmSignUp()'"/>
    <script type="text/javascript">

        function confirmSignUp() {
            let username = $("#username").val();
            alert("username: " + username);
            let url = "/sign-up/with-social/oauth.do";
            $.ajax({
                type: 'POST',
                url:url,
                data:{username: username},
                success: function() {
                    alert("注册成功！跳转到个人首页");
                    location.href = "/members/me";
                }
            });
        }

        function abortSigningUp() {
            let url = "/sign-up/with-social/oauth.abort";
            $.ajax({
                type: 'POST',
                url:url,
                data:{},
                dataType : "JSON",
                contentType:"application/json",
                success: function() {
                    alert("跳转到个人主页");
                    location.href = "/members/me";
                }
            });
        }

    </script>
</div>
</body>
</html>

